<div class="container">
    <div class="cabecalho">
        <div id="foto">
            
        </div>
        <div class="info">
            <div class="nome"><h3>Rafael Santiago</h3></div>
            <div class="col">
                <div class="idade">25 anos</div>
                <div class="cidade">Uberlândia</div>
            </div>
            <div class="interesse">Programação</div>
        </div>
    </div>
    <div class="title">
        <h1>Habilidades:</h1>
    </div>
    <div class="habilidades">
        <table>
            <tbody>
                <tr>
                    <td><span>Lógica</span></td>
                    <td><span>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                    </span></td>
                    <td><span>Flexibilidade</span></td>
                    <td><span>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                    </span></td>
                </tr>
                <tr>
                    <td><span>Criatividade</span></td>
                    <td><span>
                        <mat-icon>star</mat-icon>
                    </span></td>
                    <td><span>Liderança</span></td>
                    <td><span>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                    </span></td>
                </tr>
                <tr>
                    <td><span>Interpessoal</span></td>
                    <td><span>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                    </span></td>
                    <td><span>Emocional</span></td>
                    <td><span>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                    </span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cursos">
        <div class="info">
            <h1>Curso:</h1>
            <div class="curso"><h3>Engenharia Elétrica</h3></div>
            <div class="col">
                <div class="inicio"><h3>Início: Julho/2013   |</h3></div>
                <div class="conclusao"><h3>   Conclusão: Julho/2018</h3></div>
            </div>
            <h1>Instituição:</h1>
            <div class="curso"><h3>Universidade Federal de Uberlândia</h3></div>
        </div>
    </div>
</div>
