@import "~@angular/material/theming";

@include mat-core();

$theme-primary: mat-palette($mat-pink, 500, 600);
$theme-accent: mat-palette($mat-cyan);
$theme-chat: mat-palette($mat-purple, 700, 800);

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-chat);

@include angular-material-theme($theme);
