<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()" class="form">
    <mat-card class="shipping-card">
      <mat-card-header class="title">
        <mat-card-title>Cadastro</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nome Completo" formControlName="nome">
              <mat-error *ngIf="addressForm.controls['nome'].hasError('required')">
                Campo <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput type="email" placeholder="Email" formControlName="email">
              <mat-error *ngIf="addressForm.controls['email'].hasError('required')">
                O email é <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input [type]="hide ? 'password' : 'text'" matInput placeholder="Senha" formControlName="password"/>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="addressForm.controls['address'].hasError('required')">
                Senha é <strong>Obrigatória!</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Confirmar senha</mat-label>
              <input appConfirmEqualsValidator="password" matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="addressForm.controls['confirmPassword'].hasError('required')">
                Confirme sua<strong>Senha</strong>
              </mat-error>
              <mat-error *ngIf="addressForm.controls['confirmPassword'].hasError('not-equal')">
                Confirme sua<strong>Senha</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="CPF" formControlName="cpf">
              <mat-error *ngIf="addressForm.controls['cpf'].hasError('required')">
                Campo <strong>obrigatório!</strong>
              </mat-error>
            </mat-form-field>
          </div>
            <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="RG" type="number" formControlName="rg">
              <mat-error *ngIf="addressForm.controls['rg'].hasError('required')">
                Campo <strong>obrigatório!</strong>
              </mat-error>
              <mat-error *ngIf="addressForm.controls['rg'].hasError('min')">
                <strong>Mínimo de 8 números!</strong>
              </mat-error><mat-error *ngIf="addressForm.controls['rg'].hasError('max')">
                <strong>Máximo de 8 números!</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Gênero" formControlName="genero">
                <mat-error *ngIf="addressForm.controls['cpf'].hasError('required')">
                  Campo <strong>obrigatório!</strong>
                </mat-error>
              </mat-form-field>
            </div>
              <div class="col">
                <mat-form-field class="full-width" >
                    <mat-label>Data de nascimento:</mat-label>
                    <input matInput formControlName="nascimento" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Celular" formControlName="celular">
              </mat-form-field>
            </div>
              <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Fixo" formControlName="fixo">
              </mat-form-field>
            </div>
          </div>
        <hr id="space">
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Endereço" formControlName="address"></textarea>
              <mat-error *ngIf="addressForm.controls['address'].hasError('required')">
                Address is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Cep" type="number" formControlName="cep">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Cidade" formControlName="cidade">
              <mat-error *ngIf="addressForm.controls['cidade'].hasError('required')">
                Campo <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Estado" formControlName="state">
                <mat-option *ngFor="let state of states" [value]="state.sigla">
                  {{ state.nome }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="addressForm.controls['state'].hasError('required')">
                Campo <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="foto">
          <div class="row">
            <div class="col text">
              <h3>Foto de Perfil</h3>
            </div>
          </div>
          <ngp-image-picker
            [_config]="imagePickerConf"
            ($imageChanged)="onImageChange()">
          </ngp-image-picker>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Próximo</button>
      </mat-card-actions>
      
    </mat-card>
  </form>
  <router-outlet></router-outlet>