<div class="container">
    <div class="squares">
        <div class="left">
            <div class="square-btn">
                <a>
                    <h1>VOLUNTÁRIO</h1>
                </a>
            </div>
            <div class="square-btn">
                <a>
                    <h1>PROGRAMAS DE </h1>
                    <h1>BOLSAS</h1>
                </a>
            </div>
        </div>
        <div class="right">
            <div class="square-btn">
                <a>
                    <h1>EDITAIS </h1><br>
                    <h1>CULTURAIS</h1>
                </a>
            </div>
            <div class="square-btn">
                <a>
                    <h1>ESTÁGIOS</h1>
                </a>
            </div>
        </div>
        
        
    </div>
    <div class="buttons">
        <div class="left">
            <div class="rect-btn-blue">
                <a>
                    <h1>OUTROS</h1>
                </a>
            </div>
        </div>
        <div class="rigth">
            <div class="rect-btn-pink">
                <a>
                    <h1>CURSOS</h1>
                </a>
            </div>
        </div>
        <hr>
    </div>
</div>