<div class="dash">
    <div>
        <app-user-dashboard>
            
        </app-user-dashboard>
    </div>
    <div >
        <app-feed-content>
        </app-feed-content>
    </div>
    
</div>
<div class="container">
    <div class="wrapper">
        <div class="left">
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
            
        </div>
    </div>
    <div class="wrapper">
        <div class="right">
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
        </div>
    </div>
</div>